<section class="hpad">
  <h3>Operation:
    <select ng-model="$storage.Operation">
      <option value="CreateHIT">Create HIT</option>
      <option value="RegisterHITType">Register HIT Type</option>
    </select>
  </h3>
</section>

<section class="box hpad">
  <form ng-submit="sync($event)">
    <h3>Common parameters</h3>

    <label class="block">
      <div><b>Title</b>
        <span class="help">The title of the HIT. A title should be short and describe the kind of task the HIT contains</span>
      </div>
      <input type="text" ng-model="$storage.Title" style="width: 500px">
    </label>

    <label class="block">
      <div><b>Description</b>
        <span class="help">2000 character max</span>
      </div>
      <textarea ng-model="$storage.Description" rows="2" style="width: 500px"></textarea>
    </label>

    <label class="block">
      <div><b>Reward</b>
        <span class="help">The amount of money (in USD) the Requester will pay a Worker for successfully completing the HIT</span>
      </div>
      <input type="text" ng-model="$storage.Reward">
    </label>

    <label class="block">
      <div><b>Keywords</b>
        <span class="help">One or more words or phrases that describe the HIT, separated by commas</span>
      </div>
      <input type="text" ng-model="$storage.Keywords" style="width: 500px">
    </label>

    <label class="block">
      <div><b>Assignment Duration (e.g., 3h)</b>
        <span class="help">The amount of time that a Worker has to complete the HIT after accepting it</span>
      </div>
      <input type="text" ng-model="$storage.AssignmentDurationInSeconds" duration-string>
    </label>

    <label class="block">
      <div><b>Auto-approval Delay (e.g., 60m)</b>
        <span class="help">The amount of time after a HIT has been submitted before the assignment is automatically approved</span>
      </div>
      <input type="text" ng-model="$storage.AutoApprovalDelayInSeconds" duration-string>
    </label>

    <label class="block">
      <div><b>Other settings</b>
        <span class="help">JSON representation of any other settings to send.
          This is an object that will be merged with the rest of the payload.
          E.g., to require Master's qualification in production, use this:
          <code><pre>
            {
              "QualificationRequirement": {
                "QualificationTypeId": "2F1QJWKUDD8XADTFD2Q0G6UTO95ALH",
                "Comparator": "Exists"
              }
            }
          </pre></code>
        </span>
      </div>
      <textarea json-transform enhance ng-model="$storage.extra"
        class="code" style="width: 500px; min-height: 50px;"></textarea>
    </label>

    <p></p>

    <div ng-show="$storage.Operation == 'CreateHIT'">
      <h3>HIT parameters</h3>

      <label class="block">
        <div><b>Max Assignments</b>
          <span class="help">
            The number of times the HIT can be accepted (by different users) and completed before the HIT becomes unavailable. A single user will only be able to complete the HIT once.
          </span>
        </div>
        <input type="number" ng-model="$storage.MaxAssignments">
      </label>

      <label class="block">
        <div><b>Lifetime (e.g., 3d)</b>
          <span class="help">The amount of time that a HIT can be accepted; after the lifetime expires, the HIT no longer appears in searches</span>
        </div>
        <input type="text" ng-model="$storage.LifetimeInSeconds" duration-string>
      </label>

      <h3>HIT <code>Question</code> parameters</h3>

      <label class="block">
        <div><b>External URL</b>
          <span class="help">The URL of your web form, to be displayed in a frame in the Worker's web browser. It can have a querystring; Mechanical Turk parses the url and adds new querystring parameters as needed.</span>
        </div>
        <input type="text" ng-model="$storage.ExternalURL" style="width: 500px">
      </label>

      <label class="block" ng-show="$storage.Operation == 'CreateHIT'">
        <div><b>Frame Height (integer)</b>
          <span class="help">The height of the frame, in pixels</span>
        </div>
        <input type="number" ng-model="$storage.FrameHeight">
      </label>
    </div>

    <div class="block">
      <button>Submit</button>
    </div>

  </form>
</section>

<section class="hpad">
  <h3>
    <label>Preview <input type="checkbox" ng-model="$storage.preview_iframe"></label>
  </h3>
</section>

<div ng-if="$storage.preview_iframe && preview_url">
  <pre class="hpad">{{preview_url}}</pre>
  <section class="box">
    <iframe src="{{preview_url}}" scrolling="auto" frameborder="0" align="center"
      width="100%" height="{{$storage.FrameHeight}}"></iframe>
  </section>
</div>
