<section class="hpad">
  <h3>AWS Account: {{aws_account.name}}</h3>
</section>

<section class="box hpad">
  <form ng-submit="sync($event)">
    <label class="block">
      <div><b>Name</b></div>
      <input type="text" ng-model="aws_account.name">
    </label>

    <label class="block">
      <div><b>Access Key ID</b></div>
      <input type="text" ng-model="aws_account.access_key_id" style="width: 400px">
    </label>

    <label class="block">
      <div><b>Secret Access Key</b></div>
      <input type="text" ng-model="aws_account.secret_access_key" style="width: 400px">
    </label>

    <label class="block">
      <div><b>Created</b></div>
      <time>{{aws_account.created | date:"yyyy-MM-dd"}}</time>
    </label>

    <div class="block">
      <button>Save</button>
    </div>
  </form>
</section>

<section class="hpad">
  <h3>Mechanical Turk Environments</h3>
</section>

<section class="box">
  <table class="lined padded">
    <thead>
      <tr>
        <th>Environment</th>
        <th>Account Balance</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="environment in environments">
        <td>{{environment.name}}</td>
        <td style="text-align: right">{{environment.account_balance}}</td>
        <td>
          <a ui-sref="admin.mturk.hits.table({aws_account_id: aws_account.id, environment: environment.name})">
            View HITs
          </a>
        </td>
        <td>
          <a href="/admin/mturk/HITs/new?aws_account_id={{aws_account.id}}&environment={{environment.name}}">
            Create new HIT
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
