<section class="box hpad">
  <h3>Notify Workers</h3>
  <label>
    <div>
      <b>Subject</b>
      <span class="help">The subject line of the email message to send; up to 200 characters</span>
    </div>
    <input ng-model="notification.Subject">
  </label>
  <label>
    <div>
      <b>Body</b>
      <span class="help">The text of the email message to send; up to 4,096 characters</span>
    </div>
    <textarea ng-model="notification.MessageText" style="width: 600px; height: 200px"></textarea>
  </label>
  <label>
    <div>
      <b>WorkerId</b>
      <span class="help">The ID of the Worker to notify, as returned by the GetAssignmentsForHIT operation; repeat this parameter up to 100 times to notify multiple Workers.</span>
    </div>
    <input ng-model="notification.WorkerId">

  </label>
  <div>
    <button ng-click="NotifyWorkers()">Notify Workers</button>
  </div>
</section>

<section class="box hpad">
  <h3>Available Balance</h3>
  <p>{{AvailableBalance.FormattedPrice}}</p>
</section>
