<nav fixedflow class="sub">
  <div class="control">
    <!-- ng-options must use toString() since params.aws_account_id will always be a string -->
    <select ng-model="aws_account_id"
      ng-options="aws_account.id.toString() as aws_account.name for aws_account in aws_accounts">
    </select>
    <select ng-model="environment"
      ng-options="environment.name as environment.name for environment in environments">
    </select>
  </div>

  <div style="float: right" class="control">
    <a ui-sref="admin.mturk.hits.new">Create new HIT</a>
  </div>
</nav>
<ui-view></ui-view>
