<nav fixedflow class="sub">
  <div class="control">
    <!-- ng-options must use toString() since params.aws_account_id will always be a string -->
    <select ng-model="aws_account_id" ng-change="changeSetting('aws_account_id', aws_account_id)"
      ng-options="aws_account.id.toString() as aws_account.name for aws_account in aws_accounts">
    </select>
    <select ng-model="environment" ng-change="changeSetting('environment', environment)"
      ng-options="environment.name as environment.name for environment in environments">
    </select>
  </div>

  <span ui-sref-active-any="{current: 'admin.mturk.hits'}" class="tab">
    <a ui-sref="admin.mturk.hits.table">HITs</a>
  </span>
  <span ui-sref-active-any="{current: 'admin.mturk.qualification_types'}" class="tab">
    <a ui-sref="admin.mturk.qualification_types.table">Qualification Types</a>
  </span>
</nav>
<ui-view></ui-view>
