@import 'lib/css/normalize';

.center {
  text-align: center;
}

body {
  padding: 10px;
  font-size: 95%;
  font-family: Tahoma, Helvetica, "Arial Unicode MS", sans-serif;
}
.vlabels, textarea {
  margin: 5px 0 5px;
  label {
    display: block;
    padding: 2px 2px;
  }
}
label[disabled] {
  color: #777;
}
p {
  margin: 4px 0 4px;
}
fieldset {
  margin: 10px 0 5px;
  padding: 2px 8px;
  border: 1px solid #ddd;
}
table {
  margin: 5px 0 5px;
}
table td {
  padding: 2px 12px 2px 2px;
  vertical-align: top;
}

h2, h3, h4 {
  margin: 0.5em 0;
}

button {
  margin: 5px 10px;
}

.demo {
  background-color: #e2e2e2;
  legend {
    background-color: white;
    padding: 1px 3px;
    border: 1px solid silver;
  }
}
