body{margin:0;font-family:"Lucida Grande",Arial,sans-serif}
h1,h2,h3,h4,h5,h6{margin:.5ex 0}
p{margin:1ex 0}
label span{vertical-align:baseline}
label[disabled]{color:gray}
input,textarea{vertical-align:baseline;margin:0}
input[type=checkbox],input[type=radio]{margin:1px .25ex}
fieldset{margin:0 10px 10px 0;border:1px solid #CCC}
time{white-space:nowrap}
.code{font:9pt monospace}
.help{cursor:pointer;color:#9a9a9a}
.help .full{display:none}
.help.expanded{color:#0d0d0d}
.help.expanded .summary{display:none}
.help.expanded .full{display:inherit}
table.striped tbody tr:nth-child(odd){background-color:#fdfdfd}
table.striped tfoot td,table.striped tfoot th{background-color:#e6e6e6}
.ng-invalid{box-shadow:0 0 10px #c80000}
.json{font:9pt monospace;min-height:30px;min-width:400px}
.unlimited{max-height:none!important;max-width:none!important}
section{margin:10px 0}
button.anchor{background:0 0;border:0;text-decoration:underline;cursor:pointer;font-size:100%;padding:0}
body.admin{background-color:#fbfbfb;font-size:80%;overflow-y:scroll}
body.admin nav{position:fixed;width:100%;background-color:#f1f1f1;box-sizing:border-box;padding:0 4px;border-bottom:1px solid #BBB}
body.admin nav>a,body.admin nav>button,body.admin nav>img,body.admin nav>span{vertical-align:middle}
body.admin nav a,body.admin nav button.anchor{display:inline-block;margin:3px;border-radius:3px;padding:2px 6px;border:1px solid #CCC;background-color:#f1f1f1}
body.admin nav a.current,body.admin nav button.anchor.current{border:1px solid silver;background-color:#fbfbfb}
body.admin nav a:hover,body.admin nav button.anchor:hover{border:1px solid #9a9a9a;background-color:#fff}
body.admin nav button{font-size:100%}
body.admin nav aside{float:right;padding-right:8px}
main{padding:5px 10px}
main .fill{margin-left:-10px;margin-right:-10px;padding:10px;background-color:#fff;border:1px solid #EEE;border-width:1px 0;width:100%}
main .fill>table{width:100%}
table{border-collapse:collapse}
table th{text-align:left}
table td,table th{vertical-align:top;padding:0 4px 1px 1px}
table.keyval th{padding-top:4px;border-bottom:1px solid #999}
table.keyval td:first-child{font-weight:700}
.hover-flow{word-wrap:break-word;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.hover-flow:hover{white-space:normal;overflow:visible}
.login{width:300px;margin:50px auto;padding:10px;box-shadow:0 0 5px rgba(0,0,0,.05)}
input[type=checkbox]+span{display:inline-block;font-weight:700;margin-left:.25em}
.hform span,.vform span{vertical-align:middle}
.hform>label,.vform>label{margin:4px 0}
.hform label span:first-child{display:inline-block;font-weight:700;width:75px}
.vform label span{margin:2px 4px}
.vform label span:first-child{display:block;font-weight:700;margin:2px 0}
.truncate{display:block;max-width:10em;overflow:hidden;text-overflow:ellipsis}
.array .controls{text-align:right}
.array .add{margin:0;padding:0;background:0 0;border:0;cursor:pointer}
.array .add::before{content:"add "}
.array .remove{color:#8b0000;cursor:pointer}
.preview{position:fixed;max-width:50%;top:10px;right:10px;border:1px solid #DDD}
.preview .content{padding:10px;background-color:#fff}
.preview .controls{padding:10px;background-color:#EEE;cursor:pointer}
.preview .controls span{float:right}
.preview .controls:hover{background-color:#DDD}
.focus{box-shadow:0 0 6px #51cbee}
.flag{position:absolute;background-color:#000;border-radius:3px;padding:2px 6px;color:#fff}
.flag .triangle{position:absolute;border:6px solid transparent}