* {
  box-sizing: border-box;
}
body {
  background-color: white;
  margin: 0;
  font: 13px "Lucida Grande", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0.5ex 0;
}
p {
  margin: 1ex 0;
}
button {
  margin: 10px 10px 0 0;
}
label {
  margin: 2px 0;
  display: block;
  vertical-align: middle;
  &[disabled] {
    color: #777;
  }
}
textarea, input {
  vertical-align: middle;
  margin: 0;
}
input[type="radio"], input[type="checkbox"] {
  margin: 1px .25ex;
}
fieldset {
  margin: 0 0 10px 0;
  border: 1px solid #CCC;
}
textarea {
  &.code {
    font: 9pt "Courier New", Courier, monospace;
  }
}
section, .section {
  margin: 10px 0;
  padding: 0 10px;
  &.fill, &.box {
    padding: 10px;
    background-color: white;
    border: 1px solid #EEE;
  }
  &.fill {
    border-width: 1px 0;
    overflow: auto;
  }
  &.box {
    display: inline-block;
    // inline-block doesn't allow margin overlapping, so remove the top-bottom margins
    // but also add left-right margins
    margin: 0 10px;
  }
}
nav {
  position: fixed;
  top: 0;
  padding: 0 4px;
  background-color: #FDFDFD;
  width: 100%;
  border-bottom: 1px solid #CCC;
  a {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #BBB;
    padding: 2px 6px;
    margin: 2px;
    &.active {
      border: 1px solid #AAA;
      background-color: #DDD;
    }
    &:hover {
      border: 1px solid #AAA;
      background-color: #EEE;
    }
  }
}
.hasnav {
  padding-top: 30px;
}

table {
  border-collapse: collapse;
  tr.preview {
    background-color: #BBB;
  }
  th {
    text-align: left;
  }
  td {
    font-size: 90%;
  }
  td, th {
    vertical-align: top;
    padding: 1px 8px 2px 1px;
  }
  &.hoverable tbody tr:hover {
    background-color: #DDD;
  }
  &.keyval {
    th {
      padding-top: 4px;
      border-bottom: 1px solid #777;
    }
    td:first-child {
      font-weight: bold;
    }
  }
}
.fill table {
  thead td, tbody td {
    border-bottom: 1px solid #DDD;
  }
}

.admin {
  background-color: #FCFCFC;

  .status span {
    font-size: 110%;
    font-weight: bold;
    &.Submitted { color: #CCC; }
    &.Approved { color: darkgreen; }
    &.Rejected { color: darkred; }
  }
}
.vform, .hform {
  span {
    vertical-align: middle;
  }
  & > label {
    margin: 4px 0;
  }
  input[type="checkbox"] + span {
    // bold spans coming after checkboxes
    display: inline-block;
    font-weight: bold;
  }
}
.hform {
  label {
    span {
      &:first-child {
        display: inline-block;
        font-weight: bold;
        width: 75px;
      }
    }
  }

}
.vform {
  label {
    span {
      margin: 2px 4px;
      &:first-child {
        // only match spans that come first in a label so that radio btns with postfixed spans are not blocked and bolded
        display: block;
        font-weight: bold;
        margin: 2px 0;
      }
    }
  }
}

.truncate {
  display: block;
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#preview {
  position: fixed;
  max-width: 50%;
  top: 10px;
  right: 10px;
  border: 1px solid #DDD;
  .content {
    padding: 10px;
    background-color: white;
  }
  .controls {
    padding: 10px;
    background-color: #EEE;
    cursor: pointer;
    span {
      float: right;
    }
    &:hover {
      background-color: #DDD;
    }
  }
}

.assignment {
  margin-top: 10px;
  padding-left: 10px;
  border: 1px dotted #ddd;
  .controls {
    float: left;
    width: 30%;
  }
  .keyval {
    float: left;
    width: 64%;
    margin-left: 10px;
    td:first-child {
      width: 120px;
    }
  }
  input {
    width: 200px;
  }
}

.focus {
  box-shadow: 0 0 6px rgba(81, 203, 238, 1);
  // border: 1px solid rgba(81, 203, 238, 1);
}


.flag {
  position: absolute;
  background-color: black;
  border-radius: 3px;
  padding: 2px 6px;
  color: white;
  .triangle {
    position: absolute;
    border: 6px solid transparent;
  }
}
