<section class="hpad">
  <h3>Qualification Types</h3>
  <a ui-sref="admin.mturk.qualification_types.new">Create new Qualification Type</a>
</section>

<section class="box hpad">

  <label>
    <div><b>Query</b>
      <span class="help">A text query against all of the searchable attributes of Qualification types.</span>
    </div>
    <input ng-model="SearchQualificationTypes.Query">
  </label>

  <label>
    <div><b>SortDirection</b>
      <span class="help">A text query against all of the searchable attributes of Qualification types.</span>
    </div>
    <select ng-model="SearchQualificationTypes.SortDirection">
      <option value="Ascending">Ascending</option>
      <option value="Descending">Descending</option>
    </select>
  </label>

  <label>
    <div><b>Page Size</b>
      <span class="help">The number of Qualification types to include in a page of results. The operation divides the complete sorted result set into pages of this many Qualification types.</span>
    </div>
    <input type="number" min="1" max="100" ng-model="SearchQualificationTypes.PageSize">
  </label>

  <label>
    <div><b>Page Number</b>
      <span class="help">The page of results to return. After the operation filters, sorts, and divides the Qualification types into pages of size PageSize, it returns page corresponding to PageNumber as the results of the operation.</span>
    </div>
    <input type="number" min="1" ng-model="SearchQualificationTypes.PageNumber">
  </label>

  <label>
    <div>
      <input type="checkbox" ng-model="SearchQualificationTypes.MustBeRequestable">
      <b>Must Be Requestable</b>
      <span class="help">Specifies that only Qualification types that a user can request through the Amazon Mechanical Turk web site, such as by taking a Qualification test, are returned as results of the search. Some Qualification types, such as those assigned automatically by the system, cannot be requested directly by users. If false, all Qualification types, including those managed by the system, are considered for the search.</span>
    </div>
  </label>

  <label>
    <div>
      <input type="checkbox" ng-model="SearchQualificationTypes.MustBeOwnedByCaller">
      <b>Must Be Owned By Caller</b>
      <span class="help">Specifies that only Qualification types that the Requester created are returned. If false, the operation returns all Qualification types.</span>
    </div>
  </label>

</section>


<section ng-if="QualificationTypes.length === 0" class="hpad">
  <p>No Qualification Types could be found.</p>
</section>
<section class="box">
  <table class="striped lined padded fill">
    <thead>
      <tr>
        <th>QualificationTypeId</th>
        <th>CreationTime</th>
        <th>Name</th>
        <th>Description</th>
        <th>Keywords</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="QualificationType in QualificationTypes">
        <td><a ui-sref="admin.mturk.qualification_types.edit({QualificationTypeId: QualificationType.QualificationTypeId})">{{QualificationType.QualificationTypeId}}</a></td>
        <td><time>{{QualificationType.CreationTime | date:"yyyy-MM-dd"}}</time></td>
        <td>{{QualificationType.Name}}</td>
        <td>{{QualificationType.Description}}</td>
        <td>{{QualificationType.Keywords}}</td>
        <td>{{QualificationType.QualificationTypeStatus}}</td>
        <td>
          <button ng-click="delete(QualificationType)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
