<section class="hpad">
  <h3>Qualification Type: {{QualificationType.QualificationTypeId}}</h3>
  <h4>Name: {{QualificationType.Name}}</h4>
  <h4>Keywords: {{QualificationType.Keywords}}</h4>
</section>

<section class="box hpad">
  <form ng-submit="sync($event)">
    <ng-include src="'/ui/admin/mturk/qualification_types/form.html'"></ng-include>

    <div class="block">
      <button>Submit</button>
    </div>
  </form>
</section>

<section class="hpad">
  <h3>Qualifications</h3>
</section>

<section class="box">
  <table class="striped lined padded fill">
    <thead>
      <tr>
        <th>Subject Id</th>
        <th>Grant Time</th>
        <th>Integer Value</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="Qualification in Qualifications">
        <td>{{Qualification.SubjectId}}</a></td>
        <td><time>{{Qualification.GrantTime | date:"yyyy-MM-dd"}}</time></td>
        <td>{{Qualification.IntegerValue}}</td>
        <td>{{Qualification.Status}}</td>
        <td>
          <button ng-click="deleteQualification(Qualification)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="hpad">
  <h3>Assign Qualification</h3>
  <label>
  <form ng-submit="assignQualification($event)">
    <label>
      <div><b>WorkerId</b></div>
      <input ng-model="$storage.AssignQualification.WorkerId">
    </label>
    <label>
      <div><b>Value</b></div>
      <input type="number" ng-model="$storage.AssignQualification.IntegerValue">
    </label>
    <label>
      <div>
        <input type="checkbox" ng-model="$storage.AssignQualification.SendNotification">
        <b>Send Notification</b>
      </div>
    </label>
    <button>Submit</button>
  </form>
</section>
