<!-- <section style="float: right" class="hpad">
  <button ng-click="clone()">Clone</button>
</section> -->

<form ng-submit="sync($event)" class="hpad">
  <label class="block">
    <div><b>Name</b></div>
    <input type="text" ng-model="template.name" style="width: 100%;">
  </label>

  <label class="block">
    <div><b>Created</b></div>
    <time>{{template.created | date:"yyyy-MM-dd"}}</time>
  </label>

  <label class="block">
    <div><b>HTML</b></div>
    <textarea enhance ng-model="template.html" class="code"
      placeholder="HTML / Handlebars content" style="width: 100%; min-height: 200px;"></textarea>
  </label>

  <div class="block">
    <button>Save</button>
  </div>
</form>
